<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />

  <!-- Importing Bootstrap 4-->
  <script src="bootstrap/js/jquery.js"></script>
  <script src="bootstrap/js/popper.js"></script>
  <script src="bootstrap/js/utils.js"></script>
  <script src="bootstrap/js/bootstrap.bundle.js"></script>
</head>

<body>
  <!-- Start modal -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Hier kan je de proefopdracht van inholland uploaden.</h1>
        <h2>
          De assets map van de opdracht moet als een zip file worden upgeload
        </h2>
      </div>

      <div class="col-4">

        <form action="/tests" method="post" enctype="multipart/form-data">
          <input name="zipFile" type="file" accept=".zip,.rar,.7zip" placeholder="Assets folder" />
          <input type="submit" value="Stuur in" />
        </form>

      </div>
    </div>
</body>

</html>